{{ define "meta" }}
<title>{{ T "login_title" }}</title>
{{ end }}

{{ define "main" }}
<div class="py4 my4 flex flex-column flex-wrap items-center">
    <header class="flex flex-wrap items-baseline">
		<h1 class="m0 mb2 mr2">{{ T "login_title" }}</h1>
		<a class="neutral-secondary-accent-link" href="/{{ langCode .Language }}/signup/">{{ T "signup" }}</a>
    </header>

    <form class="col-6 bg-white" method="post" action="/{{ langCode .Language }}/login">
		<div class="mb2 flex flex-column">
			<label>{{ T "email" }}</label>
			<input type="text" name="Email.Address">
		</div>
		<div class="mb2 flex flex-column">
			<label>{{ T "password" }}</label>
			<input type="password" name="Password">
		</div>
		<div class="flex flex-wrap items-baseline">
			<button class="btn px2 py1" type="submit">{{ T "login_link" }}</button>
			<a class="ml2 neutral-secondary-accent-link" href="/{{ langCode .Language }}/restore">{{ T "password_restore" }}</a>
		</div>
    </form>
</div>
{{ end }}
