{{ define "footer" }}
<footer class="p2 mt4">
    <div class="flex flex-wrap justify-between">
	<ul class="m0 list-reset flex flex-wrap items-end">
	    <li class="mr3"><a class="neutral-secondary-accent-link" href="https://www.bahna.ngo/">{{ T "bahna" }}</a></li>
	    <li class="mr3"><a class="neutral-secondary-accent-link" href="https://goo.gl/maps/cXoAMeEpX8t">ул. Веры Хоружей, 3-308, 220005, Минск, Беларусь</a></li>
	    <li class="mr3"><a class="neutral-secondary-accent-link" href="tel:+375297733690">+375 29 773 36 90</a></li>
	    <li class="mr3"><a class="neutral-secondary-accent-link" href="mailto:bahna.land@gmail.com">bahna.land@gmail.com</a></li>
	</ul>
	<ul class="m0 xs-hide sm-hide list-reset center mt2">
	    <li><a class="neutral-secondary-accent-link" href="https://www.facebook.com/bahna.land"><i class="fab fa-facebook"></i></a></li>
	    <li><a class="neutral-secondary-accent-link" href="https://www.instagram.com/bahna.land/"><i class="fab fa-instagram"></i></a></li>
	    <li><a class="neutral-secondary-accent-link" href="https://vk.com/bahna.land"><i class="fab fa-vk"></i></a></li>
	</ul>
	<ul class="m0 flex md-hide lg-hide list-reset center mt2">
	    <li><a class="mr2 neutral-secondary-accent-link" href="https://www.facebook.com/bahna.land"><i class="fab fa-facebook"></i></a></li>
	    <li><a class="mr2 neutral-secondary-accent-link" href="https://www.instagram.com/bahna.land/"><i class="fab fa-instagram"></i></a></li>
	    <li><a class="mr2 neutral-secondary-accent-link" href="https://vk.com/bahna.land"><i class="fab fa-vk"></i></a></li>
	</ul>
    </div>
</footer>
{{ end }}
